services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: app_development
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s

  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgres://postgres:password@db:5432/app_development
    depends_on:
      - db

  test:
    build: .
    command: bash -c "bundle exec rails db:drop db:create db:schema:load && bundle exec rspec"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:password@db:5432/foresy_test
      DB_HOST: db
      DB_USERNAME: postgres
      DB_PASSWORD: password
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
