services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_USER: postgres
      POSTGRES_DB: foresy_development
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      retries: 5
      start_period: 10s
      timeout: 5s

  web:
    image: foresy-web:latest
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/app
    working_dir: /app
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      DATABASE_URL: postgres://postgres:password@db:5432/foresy_development
      DB_HOST: db
      DB_USERNAME: postgres
      DB_PASSWORD: password
      SECRET_KEY_BASE: development_secret_key_base_for_testing_only_32_characters_minimum
      PORT: 3000
    depends_on:
      db:
        condition: service_healthy

  test:
    image: foresy-web:latest
    command: bash -c "bundle exec rails db:drop db:create db:schema:load && bundle exec rspec"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      RAILS_ENV: test
      DATABASE_URL: postgres://postgres:password@db:5432/foresy_test
      DB_HOST: db
      DB_USERNAME: postgres
      DB_PASSWORD: password
      SECRET_KEY_BASE: test_secret_key_base_for_rspec_testing_32_characters_minimum
      RAILS_MAX_THREADS: 5
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data:
