default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS", 5) %>
  timeout: 5000

development:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL", "postgres://postgres:password@localhost:5432/foresy_development") %>

test:
  <<: *default
  url: <%= ENV.fetch("DATABASE_URL", "postgres://postgres:password@localhost:5432/foresy_test") %>

production:
  <<: *default
  url: <%= ENV["DATABASE_URL"] %>
  sslmode: require
